/* font-family: 'Potta One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:wght@300;400;500;700&family=RocknRoll+One&family=Rubik:wght@300;400;500;600;700&display=swap");
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background: #000;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  margin-top: 0px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 400;
  position: relative;
}
a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 0;
  position: relative;
}
ul,
li {
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

:-moz-placeholder {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

::-moz-placeholder {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

:-ms-input-placeholder {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}
.form-control::placeholder {
  color: #fff;
  opacity: 1;
}
fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.section-padding {
  padding: 100px 0;
}
/*START SECTION TITLE DESIGN*/
.section-title {
  margin-bottom: 60px;
}
.section-title h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 0;
  position: relative;
  text-transform: capitalize;
}
h1.section-title-white {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  font-weight: 600;
  margin-top: 0;
  position: relative;
}
p.section-title-white {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .section-title h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .section-title h1 {
    font-size: 30px;
  }
}
.section-title span {
  background: #f5325c none repeat scroll 0 0;
  display: block;
  height: 2px;
  margin: 10px auto;
  width: 100px;
}

.section-title-white {
  color: #fff;
  position: relative;
}
.section-title p {
  padding: 0 10px;
  width: 60%;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  .section-title p {
    padding: 0 10px;
    width: 90%;
    margin: auto;
  }
}
/*END SECTION TITLE DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
  background: #00e6bf none repeat scroll 0 0;
  border-radius: 30px;
  bottom: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  line-height: 47px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: fixed;
  right: 25px !important;
  bottom: 25px !important;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 50px;
}
@media only screen and (max-width: 768px) {
  .topcontrol {
    display: none;
  }
}
.topcontrol:hover {
  background: #222;
  color: #fff;
}
/*END SCROLL TO TOP*/

/*START BUTTON DESING*/
.btn_one {
  background: #00e6bf;
  padding: 10px 36px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: "RocknRoll One", sans-serif !important;
}

.btn_one:hover,
.btn_one:focus {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.aligncenter {
  align-items: center;
}
.div2hippo {
  background-color: #101010 !important;
}
.hoopiimg1 img {
  width: 100% !important;
  border: 4px solid #00e6bf !important;
}
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 02.START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-brand img {
  width: 80px !important;
  height: auto !important;
}

.navbar-custom {
  background-color: transparent;
  padding: 20px 0;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  border-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-custom .navbar-toggler {
  color: #fff;
  font-size: 30px;
  padding: 0px;
}
.navbar-custom .navbar-brand {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.navbar-custom .navbar-nav li a {
  color: #fff !important;
  font-size: 19px;
  background-color: transparent !important;
  margin: 0 5px;
  letter-spacing: 0.5px;
  line-height: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "RocknRoll One", sans-serif !important;
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a.active {
  color: #fff !important;
}
.navbar-custom .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
  padding-right: 0;
}
.navbar-custom.nav-sticky {
  background-color: #000 !important;
  padding: 0px 0px;
  border-bottom: none;
}
@media (max-width: 1023px) {
  .navbar-custom .nav-social {
    display: none;
  }
}
@media (max-height: 480px) {
  .navbar-nav {
    max-height: 200px;
    overflow-y: auto;
  }
}
@media (min-width: 200px) and (max-width: 812px) {
  .navbar-custom {
    background-color: #000;
    padding: 10px 0px !important;
  }
}
@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    background-color: #000;
    padding: 10px 0px !important;
  }
}
.mdi-menu::before {
  content: "\F035C";
}
.mdi::before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.home_bg {
  position: relative;
  padding-bottom: 100px;
  background-image: url(../../bg1.png);
}
.hero-text h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 68px;
  padding-top: 230px;
  margin-bottom: 0px;
  font-family: "Potta One", cursive !important;
  /* font-family: 'Roboto', sans-serif;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Rubik', sans-serif;  */
}
.hero-text h3 {
  color: #00e6bf;
  font-size: 22px;
  font-weight: 700;
  font-family: "RocknRoll One", sans-serif !important;
}
@media only screen and (max-width: 768px) {
  .hero-text h2 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 480px) {
  .hero-text h2 {
    font-size: 32px;
  }
}
.hero-text p {
  margin-top: 25px;
  color: #fff;
  font-family: "Rubik", sans-serif !important;
  font-size: 18px;
}
.home_btn {
  margin-top: 40px;
}
.home_btn a {
  margin-right: 10px;

  font-family: "RocknRoll One", sans-serif !important;
}

/*START COUNTDOWN*/
.buy-icons {
  overflow: hidden;
  padding: 0px 20px;
}
@media only screen and (max-width: 480px) {
  .buy-icons {
    padding: 20px;
  }
}
.ca-starts-in .timer-area {
  margin: 40px 0;
}
.ca-starts-in h3 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  font-family: "Potta One", cursive !important;
}
.ca-starts-in h5 {
  font-size: 20px;
  text-align: center;
  color: #00e6bf;
  font-family: "RocknRoll One", Sans-serif;
  font-weight: 700;
}
.ca-starts-in p {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  font-size: 20px;
}
.spanline {
  width: 42%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about_area .spanline {
  width: 20% !important;
}
.about_area h5 {
  margin-bottom: 15px;
}
.spanline::before {
  display: block;
  content: "";
  border-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-top: 2px solid #fff;
}
.spanline::after {
  display: block;
  content: "";
  border-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-top: 2px solid #fff;
}
.spanline img {
  padding: 7px !important;
}
.textleft {
  text-align: left !important;
}
.ca-starts-in .timer-area div {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-radius: 20px 20px 20px 20px;
  margin: 25px 0px 0px 0px;
}

.ca-starts-in .timer-area div .cdown {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  max-width: 25%;
  display: block;

  background-color: #00000033;
  font-family: "Roboto", sans-serif !important;
  border-radius: 5px;
  text-align: center;
  margin-right: 16px;
  padding: 15px;
}
.custpadabout {
  padding: 1.5rem 0;
}
@media only screen and (max-width: 480px) {
  .ca-starts-in .timer-area div .cdown {
    padding: 10px;
  }
}
.ca-starts-in .timer-area div .cdown:last-child {
  margin-right: 0;
}
.ca-starts-in .timer-area div .cdown .time-count {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}
@media only screen and (max-width: 480px) {
  .ca-starts-in .timer-area div .cdown .time-count {
    font-size: 22px;
  }
}
.ca-starts-in .timer-area div .cdown p {
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 14px;
  font-weight: 600;
}
.ca-starts-in a {
  margin-right: 10px;
}

.payment_img {
  margin-top: 30px;
}
.payment_img a img {
  display: inline-block;
  width: 60px;
  padding: 5px;
}
.buy-icons-img {
  padding-top: 200px;
}
@media only screen and (max-width: 768px) {
  .buy-icons-img {
    padding-top: 80px;
  }
}
/*END COUNTDOWN*/
/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 04.START ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
.about_us {
  padding-bottom: 50px;
}
.single_about {
  padding: 0 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single_about img {
  float: left;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.single_about h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  overflow: hidden;
}
.single_about p {
  overflow: hidden;
}
.about-img {
  text-align: center;
}
.about-img img {
  margin-bottom: 50px;
}
.about-text {
}
.about-text h2 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .about-text h2 {
    font-size: 40px;
  }
}
.about-text p {
  margin-bottom: 20px;
}
.about-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.about_btn {
  margin-top: 30px;
}

.token_sale_area {
}
.token_content {
  margin-bottom: 50px;
}
.token_content h2 {
  margin-bottom: 15px;
  font-weight: 600;
}
.token_content p {
}
.single_token {
  margin-bottom: 30px;
  padding: 25px 10px;
  border-radius: 500px;
}
.single_token h4 {
  font-weight: 600;
  font-size: 18px;
}
.single_token p {
  color: #fff;
}
.single_token_bg_one {
  background: #5fc0d8;
}
.single_token_bg_two {
  background: #6f4cf2;
}
.single_token_bg_three {
  background: #c660e8;
}
.single_token_bg_four {
  background: #05b169;
}
.single_token_bg_five {
  background: #f2924c;
}
.single_token_bg_six {
  background: #e8606f;
}
.single_token_bg_seven {
  background: #1652f0;
}
.single_token_bg_eight {
  background: #3db2ff;
}
.currency_content {
  background: #000;
  padding: 60px;
  border-radius: 5px;
}
.currency_content h3 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
}
.currency_content p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cryptonatorwidget {
  border: 0 !important;
  padding: 0 !important;
  margin-bottom: 20px;
}
.cryptonatorwidget input {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 52px !important;
  margin-bottom: 5px;
  text-transform: capitalize;
  background: none;
  color: #fff;
  padding: 0 10px;
  border-radius: 2px;
  font-family: "Poppins", sans-serif !important;
}
.cryptonatorwidget select {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 52px !important;
  margin-bottom: 5px;
  text-transform: capitalize;
  background: none;
  color: #fff;
  padding: 0 10px;
  font-family: "Poppins", sans-serif !important;
  border-radius: 2px;
}
.cryptonatorwidget > div {
  display: none;
}
.token-img h4 {
  font-weight: 600;
}
.fund-img h4 {
  font-weight: 600;
}

.timeline {
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time_contain {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.time_contain h2 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif !important;
}
.time_contain p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
  font-family: "Rubik", sans-serif !important;
}
.time_contain h2 span {
  color: #00e6bf;
}
.time_contain::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #fff;
  border: 4px solid #e702bf;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.btnpri {
  font-family: "Roboto", Sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: transparent;
  background-image: linear-gradient(180deg, #03b6a5 0%, #00cea3 100%);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 10px 10px 10px 10px;
  padding: 8px 18px !important;
}
.time_left {
  left: 0;
}

.time_right {
  left: 50%;
}

.time_left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.time_right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.time_right::after {
  left: -12px;
}
.time_content {
  padding: 30px;
  background: #007b69db;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }
  .time_contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .time_contain::before {
    left: 60px;
    border: medium solid #006a5a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #006a5a transparent transparent;
  }

  .time_left::after,
  .time_right::after {
    left: 15px;
  }

  .time_right {
    left: 0%;
  }
}

.app-text h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.app-text p {
  margin-bottom: 50px;
  color: #fff;
}
.app-text ul {
  list-style: none;
  margin-top: 30px;
}
.app-text ul li {
  font-size: 20px;
  line-height: 36px;
  float: left;
  margin-right: 20px;
  position: relative;
  color: #fff;
  width: 250px;
  margin-bottom: 20px;
}
.app-text ul li span {
  font-size: 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 30px;
  margin-right: 10px;
  display: inline-block;
  border: 2px solid #000;
}
.app_btn {
  margin-top: 30px;
}
.app_btn a {
  margin-right: 15px;
}
@media only screen and (max-width: 480px) {
  .app_btn a {
    margin-bottom: 15px;
  }
}
.app_btn a i {
  margin-right: 8px;
}
@media only screen and (max-width: 768px) {
  .app_img {
    margin-top: 40px;
    text-align: center;
  }
}

.team_member {
  padding-bottom: 50px;
  overflow: hidden;
}
.our-team {
  background: #039b79;
  padding: 30px;
  margin-bottom: 30px;
  border: 2px solid #04d3a6;
  border-radius: 8px;
}
.our-team img {
  width: 160px;
  height: 160px;
  border-radius: 500px;
  margin-bottom: 30px;
}
.our-team h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 3px;
  font-family: "RocknRoll One", sans-serif !important;
}
.our-team ul {
  margin-bottom: 10px;
  list-style: none;
}
.our-team ul li {
  display: inline-block;
}
.our-team ul li a {
  margin: 0 10px;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  position: relative;
}
.our-team ul li a:hover {
  color: #00e6bf;
}
.our-team span {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
}
.team_member h3 {
  font-family: "Potta One", cursive !important;
  /* font-size: 22p; */
}
.team_member .ca-starts-in .spanline {
  width: 25% !important;
  margin-bottom: 55px !important;
}
.roadmap_area .ca-starts-in {
  margin-bottom: 50px;
}
.roadmap_area .spanline {
  width: 20% !important;
}
/*
* ----------------------------------------------------------------------------------------
* 09.END TEAM DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 10.START BOARD ADVISOR DESIGN
* ----------------------------------------------------------------------------------------
*/
.board_member {
  padding-bottom: 50px;
}
.our-board {
  margin-bottom: 30px;
}
.our-board img {
  width: 160px;
  height: 160px;
  border-radius: 500px;
  margin-bottom: 30px;
}
.our-board h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.our-board ul {
  margin-bottom: 10px;
  list-style: none;
}
.our-board ul li {
  display: inline-block;
}
.our-board ul li a {
  margin: 0 10px;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  position: relative;
}
.our-board ul li a:hover {
  color: #00e6bf;
}
.our-board span {
  position: relative;
}

.partner_area {
  padding-bottom: 50px;
}
.partner-logo {
}
.partner-logo img {
  margin-bottom: 30px;
  width: 100px;
}

.faq1-area {
  background-color: #101010;
}
.accordion-item {
  background-color: #05947f;
  border: 0px solid #05947f;
  margin-bottom: 30px;
  border-radius: 30px !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 20px;
  color: #fff;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  background: transparent;
  font-weight: 600;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  /* background-color: #05947f; */
  background-image: linear-gradient(90deg, #039748 0%, #00a3af 100%);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
  /* content: "\f077"; */
  /* font-family: fontAwesome;
	font-size: 24px; */
  background-image: url(../../down-arrow.png) !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 25px;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
  /* content: "\f077";
	font-family: fontAwesome;
	font-size: 24px; */
  background-image: url(../../down-arrow.png) !important;
}
.accordion-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
}
.accordion-body {
  background-color: #101010 !important;
}
.faq-img {
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .faq-img {
    margin-top: 40px;
    text-align: center;
  }
}
.faq1-area .ca-starts-in {
  margin-bottom: 70px;
}
.faq1-area .spanline {
  width: 20% !important;
}

.footer {
  padding-bottom: 40px;
  padding-top: 0px;
}
.footer_menu {
  margin-bottom: 20px;
}
.footer_menu ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.h2footer {
  font-size: 20px;
  font-family: "Potta One", cursive !important;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer_menu ul li {
  display: inline-block;
}
.footer_menu ul li a {
  color: #fff;
  padding: 0 10px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "RocknRoll One", sans-serif !important;
  font-weight: 500;
}
.footer_menu ul li a:hover {
  color: #00e6bf;
  text-decoration: none;
}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile {
  margin-bottom: 40px;
}
.footer_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_profile ul li {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  .footer_profile ul li {
    margin: 2px;
  }
}
.footer_profile ul li a img {
  width: 60px;
}

.footer_profile ul li a {
  background: #2e2a2a;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  position: relative;
  margin-right: 5px;
  border-radius: 50%;
  line-height: 40px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.footer_profile ul li a:hover {
  background: #00e6bf;
}
/*END FOOTER SOCIAL DESIGN*/
.footer_copyright {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  margin-top: 20px;
  border-top: 1px solid #420f5c;
  padding: 2rem 0 0;
}
.footer_copyright p {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
}
.footer_copyright p span {
  color: #00e6bf;
}

.section-top {
  padding-bottom: 100px;
  padding-top: 160px;
  position: relative;
}
.section-top-title h1 {
  color: #fff;
  font-weight: 600;
}
.elementvideo {
  max-width: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  border: none;
  object-fit: cover;
  margin-top: 40%;
}
@media (max-width: 991px) {
  .elementvideo {
    margin-top: 60px !important;
  }
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem !important;
}
@media (max-width: 768px) {
  .navbar-collapse {
    padding: 20px 0px 50px !important;
  }
  .navbar-custom {
    padding: 0px !important;
  }
  .btnpri {
    text-align: center !important;
    margin-top: 20px !important;
  }
  .disnonslide {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .navbar-brand img {
    width: 60px !important;
    height: auto !important;
  }

  .home_bg {
    padding: 0px 20px 3rem;
  }
  .hero-text h2 {
    padding-top: 200px !important;
  }
  .ca-starts-in h3 {
    font-size: 30px;
  }
  .about_area {
    padding: 50px 25px !important;
  }
  .section-padding {
    padding: 50px 0;
  }
  .footer_menu {
    padding-top: 20px !important;
  }
  .footer_copyright p {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .footer {
    padding-bottom: 0px !important;
  }
  .footer_profile {
    margin-bottom: 0px !important;
  }
  .accordion-button {
    font-size: 15px;
  }
  .ca-starts-in p {
    font-size: 16px !important;
  }
  .about_area .spanline {
    width: 50% !important;
  }
  .roadmap_area .spanline {
    width: 40% !important;
  }
  .time_contain p {
    font-size: 15px;
  }
  .time_content {
    padding: 15px;
  }
  .time_content h2 {
    margin-bottom: 10px !important;
  }
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 500px; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.sliderow .col-md-4 {
  padding: 0px !important;
  margin: 0px !important;
}
.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 0px;
}
.slide img {
  width: 100% !important;
}
.footerspanline {
  width: 100% !important;
}
